header {
    color: blue
}
.CANNED{
    background-color: lightgray;
}
.DRYGOODS{
    background-color: lightgray;
}
.VEGGIES{
    background-color: lightgray;
}
.SNACKS{
    background-color: lightgray;
}
p{
    font-style: italic; font-weight: bold;
}
h1{
    border: 1px solid; background-color: beige;
    margin: 10%
}
.title{
    font-size: xx-large;
        margin: 30px
}.PantrySection{
    margin: 0 auto;
    width: 50%;
}
.divSections{
    display: flex;
    flex-direction: ;
    width: 40%;
    padding: 20px;
    margin-bottom: 20px;
}
.FreezerSection{
    margin: 0 auto;
    width: 50%
}
img{
    height: 55%;
        margin: -5%;
}